<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
</head>
<body>
    <h1>Liste des Groupes</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Idgroupe</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Autorisation</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.idGroupe }}</td>
                <td>{{ groupe.titre }}</td>
                <td>{{ groupe.description }}</td>
                <td>{% if groupe.autorisation == 1 %}
                        Ouvert
                    {% else %}
                        Fermé
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>
