{% extends '@Nozelites/basefrontmembre.html.twig' %}
{% block content %}

    <div class="dashboard-content-inner" style="min-height: 613px;">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>Publication</h3>

            <!-- Breadcrumbs -->

        </div>

        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">

                            <div class="col-xl-4">
                                <div class="submit-field">
                                    <h5>Job Title</h5>
                                    <input type="text" class="with-border">
                                </div>
                            </div>

                            <div class="col-xl-12">
                                <div class="submit-field">
                                    <h5>Job Description</h5>
                                    <textarea cols="30" rows="5" class="with-border"></textarea>
                                    <div class="uploadButton margin-top-30">
                                        <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple="">
                                        <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                                        <span class="uploadButton-file-name">Images or documents that might be helpful in describing your job</span>
                                    </div>
                                </div>
                            </div>-->
                    {{ form_start(f) }}

                    {{ form_widget(f) }}
                    <input type="submit" value="Ajouter" class="uploadButton-button ripple-effect"  />
                    <div class="uploadButton margin-top-30">


                        <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple="">



                    </div>
                    {{ form_end(f) }}
                        </div>
                    </div>
                </div>
            </div>



        </div>


        <!-- Footer -->
        <div class="dashboard-footer-spacer" style="padding-top: 125px;"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2018 <strong>Hireo</strong>. All Rights Reserved.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Facebook">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Twitter">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Google Plus">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-tippy-placement="top" data-tippy="" data-original-title="LinkedIn">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

    </div>
{% endblock %}