{% extends '@Nozelites/basefrontmembre.html.twig' %}

{% block titre %}{{ parent() }} - Event add {% endblock %}
{% block content %}
    <div class="intro-banner" data-background-image="images/home-background.jpg">

        <div class="container">

            <div class="row">

                <div class="col-xl-6 col-lg-6 content-left-offset">
                    <h1> creation</h1>
                    <p></p>
                    {{ form_start(form) }}

                    {{ form_widget(form) }}
                    <input type="submit" value="Ajouter" class="uploadButton-button ripple-effect" />
                    <div class="uploadButton margin-top-30">



                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}