{% extends '@Nozelites/base.html.twig' %}

{% block titre %}{{ parent() }} - Acceuil2 {% endblock %}

{% block content %}
    <div class="intro-banner" data-background-image="images/home-background.jpg">
        <div class="container">
            hello world !
        </div>
    </div>
{% endblock %}